@tailwind base;
@tailwind components;
@tailwind utilities;

.font-hand {
  font-family: "Indie Flower", cursive;
}

.font-main {
  font-family: "Gabarito", sans-serif;
}

.commit-logs {
  position: fixed;
  top: 0px;

  left: 50%;
  transform: translateX(-50%);
}
